.d-f {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-f {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fd-c {
    flex-direction: column;
}

.fd-r {
    flex-direction: row;
}

.heading-1 {
    font-size: 16px;
    font-weight: 400;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}